/* CSS code for Sam's Sandwiches website */

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #E88E8E;
    margin: 0;
    padding: 20px;
  }
  
  /* Header styling */
  h1 {
    color: #333333;
    text-align: center;
    margin-top: 0;
    font-size: 60px;
  }
  
  /* Meal details styling */
  h2 {
    color: #333333;
    margin-top: 0;
    font-size: 40px;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: 600px;
    margin: 0 auto 10px;
  }
  
  p {
    color: #000000;
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: normal;
  }
  
  /* Payment button styling */
  button {
    background-color: #C85252;
    color: #ffffff;
    border: none;
    border-radius: 0px;
    padding: 20px 70px;
    font-size: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 10px auto;
  }
  
  button:hover {
    background-color: #C85252;
  }
  